html {
    height: 100%;
    line-height: 1.15;
    text-size-adjust: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;

}

nav{
    height: 80px;
    background: #1C9FED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

nav a{
    text-decoration: none;
    color: #fff;
    padding:  0 1.5rem;
}

.hero{
    background:#fff;
}

.reverie-title-card {
    background: #1C9FED;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.reverie-title-card h1{
    position: absolute;
    top: 53%;
    
}

.reverie-title-card p{
    position: absolute;
    top: 63%;
    font-size: 20px;
    
}

.reverie-title-card img{
    position: absolute;
    top: 40px;
    height: 55%;

}
